---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/layout/Hero.astro';
import Section from '../components/layout/Section.astro';
import Project from '../components/Project.astro';
const allProjects = await Astro.glob('./projects/*.md');
---

<BaseLayout
	title="Web under contruction..."
	description="Welcome to Peter Kudeláš personal website. Web is currently under construction..."
	navActiveId="home"
>
	<Hero />
	<Section title="Projects < />" id="projects" transition:name="projects">
		{
			allProjects.map((project) => (
				<Project
					title={project.frontmatter.title}
					imgsrc={project.frontmatter.imgsrc}
					href={project.url}
					description={project.frontmatter.description}
					tags={project.frontmatter.tags}
				/>
			))
		}
	</Section>
</BaseLayout>
