---
import BaseLayout from '../layouts/BaseLayout.astro';
import Hero from '../components/layout/Hero.astro';
import Section from '../components/layout/Section.astro';
import Project from '../components/Project.astro';
import { getCollection } from 'astro:content';
const allProjects = await getCollection('project');
---

<BaseLayout
	title="Crafting Seamless Digital Experiences"
	description="Welcome to my portfolio! I'm a passionate front-end web developer specializing in React, Vue, Svelte, and Astro. Explore a collection of my projects that embody intuitive user interfaces, efficient functionality, and elegant design."
	navActiveId="home"
>
	<Hero />
	<Section title="Projects < />" id="projects" transition:name="projects">
		{
			allProjects.map((project) => (
				<Project
					title={project.data.title}
					imgsrc={project.data.image}
					description={project.data.description}
					tags={project.data.tags}
					href={project.data.linkToProject}
					imageAlt={project.data.imageAlt}
				/>
			))
		}
	</Section>
</BaseLayout>
