---
export interface Props {
	title: string;
	imgsrc: string;
	href: string;
	description: string;
	tags: string[];
}

const { href, title, imgsrc, description, tags } = Astro.props;
import { Tag } from './Solid/Tag';
---

<article
	class="mx-2 lg:mx-4 xl:mx-auto md:h-48 max-h-fit my-5 p-6 flex flex-col md:flex-row bg-slate-800 rounded-lg"
>
	<div class="shrink-0 md:w-1/6">
		<a href={href}>
			<img
				src={imgsrc}
				class="h-40 md:h-full mx-auto aspect-square rounded-lg hover:opacity-75 hover:translate-y-1 transition"
				alt="decorational"
			/>
		</a>
	</div>
	<div class="md:mx-6 flex flex-col">
		<div class="flex flex-col items-center content-center md:items-start gap-x-1">
			<div class="flex flex-col md:flex-row items-center md:gap-4 md:mb-2 max-w-full">
				<a href={href}>
					<h3
						class="text-2xl font-bold mt-8 md:mt-0 hover:underline hover:underline-offset-4 decoration-orange-500 transition-all"
					>
						{title}
					</h3>
				</a>
				<div class="my-4 md:my-2 flex gap-2 flex-wrap max-lg:justify-center">
					{tags.map((tag) => <Tag name={tag} />)}
					<!-- 	<Tag name="javascript" background="amber" /> -->
					<!-- 	<Tag name="react" background="cyan" /> -->
					<!-- 	<Tag name="svelte" background="orange" /> -->
					<!-- 	<Tag name="blog" background="violet" /> -->
				</div>
			</div>
			<p class="text-justify line-clamp-3">
				{description}
			</p>
		</div>
	</div>
</article>
