---
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
const url = Astro.url;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="https://peterkudelas.eu/og_image.webp" />
  </head>
  <body class="min-h-screen flex flex-col bg-gray-800 items-center">
    <slot />
  </body>
</html>
