---
import GradientText from '../components/GradientText.astro';
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
	<article class="mt-40 flex flex-col items-center max-w-5xl mx-2 lg:mx-4 xl:mx-auto">
		<h1 class="text-5xl font-bold text-left w-full">
			<GradientText content={frontmatter.title} />
		</h1>
		<figure class="max-w-3xl aspect-auto my-10">
			<img
				src={frontmatter.imgsrc}
				alt={frontmatter.imgAlt}
				class="rounded-xl md:outline outline-1 outline-orange-500/60 outline-offset-4"
			/>
			<figcaption class="text-right mt-4 text-sm font-mono">{frontmatter.imgCaption}</figcaption>
		</figure>

		<slot />
	</article>
</BaseLayout>
