---
import H1Title from '../components/H1Title.astro';
import TagsList from '../components/TagsList.astro';
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title} description={frontmatter.description}>
	<article class="prose mt-32 flex flex-col items-center max-w-5xl mx-2 lg:mx-4 xl:mx-auto">
		<H1Title title={frontmatter.title} />

		<div class="article-head lg:flex w-full justify-between items-center">
			<div class="author-time flex gap-4 ml-1 text-slate-500">
				<p>{frontmatter.author}</p>
				<p>{frontmatter.createdAt}</p>
			</div>
			<div class="tags max-lg:mt-8">
				<TagsList tags={frontmatter.tags} />
			</div>
		</div>
		<figure class="md:max-w-xl lg:max-w-3xl aspect-auto my-10">
			<img
				src={frontmatter.imgsrc}
				alt={frontmatter.imgAlt}
				class="rounded-xl md:outline outline-1 outline-orange-500/60 outline-offset-4"
			/>
			<figcaption class="text-right mt-4 text-sm font-mono">{frontmatter.imgCaption}</figcaption>
		</figure>
		<p class="indent-8 text-xl border-b border-b-slate-300 pb-10">{frontmatter.description}</p>
		<div class="article-text indent-8 my-20">
			<slot />
		</div>
	</article>
</BaseLayout>
